<h1> Список желающих посетить BarberShop</h1>
<table class="table table-striped">
  	<thead>
	  	<tr>
	  		<th>Имя</th>
	  		<th>Телефон</th>
	  		<th>Время записи</th>
	  		<th>Мастер</th>
	  		<th>Цвет</th>
	  	</tr>
  	</thead>
  	<tbody>
  <% @results.each do |row| %>
    	<tr>
    		<td><%= row['user_name'] %></td>
    		<td><%= row['phone'] %></td>
    		<td><%= row['dateStamp'] %></td>
    		<td><%= row['barber'] %></td>
    		<td style="background-color: <%= row['color'] %>"> <%= row['color'] %></td>
  	  </tr>
  <% end %>
  </tbody>
</table>  